# --- Redis ---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: careforall
spec:
  ports:
    - port: 6379
  selector:
    app: redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: careforall
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379

---
# --- Zookeeper ---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: careforall
spec:
  ports:
    - port: 2181
  selector:
    app: zookeeper
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
  namespace: careforall
spec:
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
        - name: zookeeper
          image: confluentinc/cp-zookeeper:7.4.0
          env:
            - name: ZOOKEEPER_CLIENT_PORT
              value: "2181"
            - name: ZOOKEEPER_TICK_TIME
              value: "2000"
          ports:
            - containerPort: 2181

---
# --- Kafka ---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: careforall
spec:
  ports:
    - port: 9092
  selector:
    app: kafka
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: careforall
spec:
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.4.0
          ports:
            - containerPort: 9092
          env:
          - name: KAFKA_ZOOKEEPER_CONNECT
            value: "zookeeper:2181"

          - name: KAFKA_LISTENERS
            value: "PLAINTEXT://:9092"

          - name: KAFKA_ADVERTISED_LISTENERS
            value: "PLAINTEXT://kafka:9092"

          - name: KAFKA_BROKER_ID
            value: "1"

          - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
            value: "1"

          - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
            value: "1"

          - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
            value: "1"  