name: Deploy Payment Service

on:
  push:
    branches: [ "pavel" ]
    paths:
      - 'payment-service/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          cd payment-service
          docker build -t shahriar22/demo-payment-service:latest .
          docker push shahriar22/demo-payment-service:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker compose pull payment-service
            docker compose up -d --no-deps payment-service
            docker image prune -f